/*-- navbar --*/

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Oswald';
  font-size: 1em;
}

#quarto-header {
  border-bottom: 1px solid green;
}


.navbar-brand.navbar-brand-logo {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 1.5em;
}

@media (max-width: 991px) {
  .navbar-brand.navbar-brand-logo {
    margin-left: 5vw;
    margin-right: 10vw;
  }
}

.navbar-logo {
  max-height: 150px;
  width: auto;
  align-items: baseline;
}

@media (max-width: 991px) {
  .navbar-logo {
    max-height: 100px;
    width: auto;
    align-items: baseline;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: green;
  font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #939bc9;
  font-weight: 400;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  color: #939bc9;
}

.nav-item {
  margin-top: 5rem;
}

@media (max-width: 1200px) {
  .nav-item {
    margin-right: 0.5rem;
  }
}

@media (max-width: 991px) {
  .nav-item {
    margin-top: 0;
    margin-right: 0rem;
  }
}

.aa-DetachedSearchButton {
  margin-top: 5rem;
}

@media (max-width: 991px) {
  .aa-DetachedSearchButton {
    margin-top: 0;
  }
}

.dropdown-item {
  font-family: inherit;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 300;
  color: green;
  text-align: inherit;
  /* text-decoration: none; */
  text-transform: uppercase;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

/*-- quarto titles --*/

#title-block-header {
  margin-block-end: 1rem;
  position: relative;
  margin-top: -1px;
  margin-bottom: 1.8em;
  border-bottom: 1px solid green;
  background-color: #f0eeeb;
}

.quarto-title-banner {
  margin-bottom: 0.75em;
}

@media (max-width: 991.98px) {
  .quarto-title-banner {
    padding-top: 2.5em;
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  .quarto-title-banner {
    padding-top: 2.5em;
    padding-bottom: 0;
  }
}

.quarto-title-banner .quarto-title .title {
  font-weight: 500;
}

#title-block-header.quarto-title-block.default .description {
  margin-top: 1.5em;
  font-weight: 400;
  font-size: 1.2em;
  color: green;
}

.quarto-title .quarto-categories {
  display: flex;
  column-gap: 0.4em;
  padding-bottom: 0.5em;
  margin-top: 1.9em;
}

.quarto-title .quarto-categories .quarto-category {
  padding: 0.25em 0.75em;
  font-family: 'Oswald';
  font-size: .9em;
  font-weight: 400;
  color: #939bc9;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 0.25rem;
  opacity: 1;
}

.quarto-title-meta {
  margin-bottom: 2.5em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
  font-family: 'Oswald';
  text-transform: uppercase;
  margin-top: 1em;
  font-size: 0.9em;
  opacity: 1;
  font-weight: 400;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.8;
  font-size: 0.9em;
}


/*-- main content --*/

body.nav-fixed {
  padding-top: auto;
  background-color: #f0eeeb;
}

#quarto-content {
  background-color: #f0eeeb;
}

#quarto-content>* {
  padding-top: 0;
}

h2.anchored {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
  padding: 0.625rem 1.25rem;
  border-left: 0.25rem solid green;
}

.blockquote {
  font-size: inherit;
  padding-left: 1rem;
  padding-right: 1.5rem;
  color: green;
}

.panel-caption,
.figure-caption,
figcaption {
  color: green;
  font-size: 0.825rem;
  margin-bottom: 1rem;
}

.citation a,
.footnote-ref {
  /* text-decoration: none; */
  color: #939bc9;
  font-weight: 700;
}

.citation a:hover {
  /* text-decoration: none; */
  color: green
}

div.csl-entry {
  color: green;
  font-weight: 400;
}

#quarto-appendix.default {
  background-color: #f0eeeb;
  padding-top: 1.5em;
  margin-top: 2em;
  z-index: 998;
  border-top: 1px solid green
}

::marker {
  font-variant-numeric: normal;
}

.article-btn {
  border: none;
  border-radius: 0px;
  background-color: green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  cursor: pointer;
  width: 100%;
}

.article-btn p {
  font-family: 'Oswald';
  font-size: 1.3em;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.article-btn a {
  color: white;
  font-weight: 500;
}

.further-info {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
  padding-bottom: .75em;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
}

/*-- sidebar --*/

.sidebar nav[role=doc-toc]>h2,
.sidebar nav[role=doc-toc]>.h2 {
  font-family: 'Oswald';
  font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 0px;
}

.sidebar nav[role=doc-toc] ul>li>a.active {
  border-left: 1px solid #939bc9;
  font-weight: 500;
  color: #939bc9 !important;
}

.sidebar nav[role=doc-toc]>ul a {
  border-left: none;
  padding-left: 0.6rem;
}

.sidebar nav[role=doc-toc]>ul li a {
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 1.1rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  color: green;
}

.toc-actions a {
  /* text-decoration: none; */
  font-family: 'Montserrat';
  font-weight: 500;
  color: green;
}

.toc-actions a:hover {
  color: #939bc9;
}

#quarto-margin-sidebar .toc-actions .bi:before {
  color: green;
}

.column-margin figcaption,
.margin-caption,
div.aside,
aside,
.column-margin p {
  font-family: 'Montserrat';
  font-weight: 400;
  color: green;
  font-size: .825rem;
  text-decoration: none;
}

.column-margin,
.figure-caption a {
  /* text-decoration: none; */
  color: #939bc9;
  font-weight: 700;
}

.figure-caption a:hover {
  color: green;
}

#quarto-appendix.default {
  border-top: none;
}

.pullquote-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pullquote-grid {
  padding-bottom: 1.8em;
}

.pullquote p {
  font-family: 'Oswald';
  font-weight: 500;
  font-size: calc(1.345rem + 0.85vw);
  color: green;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .pullquote p {
    font-size: 2rem;
  }
}

.pullquote img {
  margin: 0;
}

/*-- font styles --*/

h3,
.h3,
h4,
.h4,
h6,
.h6 {
  font-family: 'Oswald';
  text-transform: none;
  letter-spacing: normal;
}

h1,
.h1 {
  font-family: 'Oswald';
  font-weight: 500;
  color: green;
  text-transform: uppercase;
  letter-spacing: normal;
}

h2,
.h2 {
  font-family: 'Oswald';
  font-weight: 500;
  color: green;
  text-transform: none;
  border-bottom: none;
  letter-spacing: normal;
}

@media (max-width: 991.98px) {

  #quarto-content section:first-of-type h2:first-of-type,
  #quarto-content section:first-of-type .h2:first-of-type {
    margin-top: 1.5rem;
  }
}

h3,
.h3,
h5,
.h5 {
  font-family: 'Oswald';
  font-weight: 500;
  text-transform: none;
  letter-spacing: normal;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  color: green;
  letter-spacing: normal;
}

a {
  text-decoration: none;
}

p>a {
  color: #939bc9;
  font-weight: 700;
  /* text-decoration: none;  */
}

b,
strong a {
  /* text-decoration: none; */
  color: #939bc9;
}

ul a {
  color: #939bc9;
  font-weight: 700;
  /* text-decoration: none;  */
}

dd a {
  color: #939bc9;
  font-weight: 700;
  /* text-decoration: none;  */
}

/* a.listing-title {
  text-decoration: none;
} */

.table {
  color: green;
}

.table th,
.table td {
  padding: 0.75rem;
}

th {
  text-transform: none;
}

tr {
  border-color: green;
}


/*-- listing styles --*/

div.quarto-post {
  border-bottom: 1px solid green;
}

div.quarto-post .metadata {
  font-family: 'Oswald';
  font-weight: 300;
  text-transform: uppercase;
}

div.quarto-post .listing-categories .listing-category {
  color: #939bc9;
  border: solid 1px #939bc9;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: .75em;
}

div.quarto-post a {
  color: green;
}

#quarto-margin-sidebar .quarto-listing-category-title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: .875rem;
}

.quarto-listing-category .category {
  font-weight: 500;
  font-size: .825rem;
}

.quarto-listing-category .category.active {
  font-weight: 500;
  color: #939bc9;
}

.nav-page .nav-page-text {
  font-family: 'Oswald';
  font-weight: 500;
  text-transform: uppercase;
  color: green;
}

.nav-page .bi {
  color: green;
}


/*-- grid listing --*/

.quarto-grid-item {
  border: none;
  background-color: #f0eeeb;
}

.quarto-grid-item.borderless {
  border: none;
  background-color: #f0eeeb;
}

.quarto-grid-item div.post-contents {
  padding: 0;
}

.quarto-grid-item .card-title {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.quarto-grid-item .listing-categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: .5em;
}

.quarto-grid-item .listing-categories .listing-category {
  color: #939bc9;
  border: solid 1px #939bc9 !important;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: .75em;
}

.quarto-grid-item .card-attribution.justify {
  justify-content: left;
}

.quarto-grid-item .card-attribution {
  font-family: 'Oswald';
  font-weight: 300;
  color: green;
  flex-grow: 10;
  align-items: flex-end;
}

.quarto-grid-item img.thumbnail-image {
  object-fit: cover;
  height: 188px !important;
}


/*-- callout styles --*/
.callout {
  background-color: white;
}


/*-- background styles --*/

.green-background {
  background-color: green;
}

.gray-background {
  background-color: rgb(214, 214, 214);
}

.purple-background {
  background-color: #939bc9;
}

.blue-background {
  background-color: #7eadba;
}

.yellow-background {
  background-color: #e3b638;
}

.pink-background {
  background-color: #d6748c;
}

.orange-background {
  background-color: #da9359;
}


/*-- homepage styles --*/

.content-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.top-story {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 1em;
  box-sizing: border-box;
  height: auto;
  display: flex;
  align-items: center;
}

.top-story img {
  height: 100%;
  object-fit: cover;
}


.top-story-text {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0;
}

.top-story-text h2 {
  margin-top: 1.5rem;
}

.top-story-img p {
  margin-bottom: 0;
}

.header-banner {
  position: relative;
  display: flex;
  justify-content: center;
}

.header-banner .header-image {
  position: absolute;
  display: none;
  height: auto;
}

.header-text p {
  text-align: center;
  margin-bottom: 0;
}

.header-block {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1.8em;
  box-sizing: border-box;
  border-bottom: 1px solid green;
}

.listing-block {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1.8em;
  box-sizing: border-box;
  border-bottom: 1px solid green;
}

.listing-block h2 {
  /* margin-top: 1.5em; */
  color: green;
  text-transform: uppercase;
}

.listing-block h2:hover {
  color: #939bc9;
}


.pullout-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2.5em;
}

.pullout-block {
  text-align: center;
  max-width: calc(1000px + 6vw);
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1.8em;
  box-sizing: border-box;
}

.pullout-text h2 {
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;
  margin-top: 0.5em;
}

.pullout-text p {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 500;
  color: white;
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #939bc9;
  text-decoration-thickness: 3px;
  margin-bottom: 1.5rem;
}

.button {
  border: none;
  border-radius: 0px;
  color: green;
  background-color: white;
  padding: 15px 32px;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button p {
  color: green;
  font-family: 'Oswald';
  font-size: 1.3em;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-decoration: none;
}

.button a {
  color: green;
  font-weight: 500;
}


/*-- footer style --*/

.footer-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  margin-top: 2.5em;
}

.footer-text h3,
.h3 {
  font-family: 'Oswald';
  color: white;
  font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 0px;
}

.footer-text p,
.p {
  color: white;
  font-size: .875rem;
  font-weight: 400;
}

.footer-text p>a {
  color: white;
  font-size: .875rem;
  font-weight: 400;
}

.footer-text p>a:hover {
  color: #939bc9;
  font-size: .875rem;
  font-weight: 400;
}

.footer-block {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1.8em;
  box-sizing: border-box;
}


/*-- nav footer styles --*/

.nav-footer {
  color: white;
  font-family: 'Oswald';
  font-weight: 400;
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}

body:not(.floating) .nav-footer {
  border-top: 1px solid #f0eeeb;
}

.nav-footer a {
  color: white;
  /* text-decoration: none; */
}

.nav-footer a:hover {
  color: #939bc9;
  /* text-decoration: none; */
}

.nav-footer-left .footer-items .nav-link,
.nav-footer-center .footer-items .nav-link,
.nav-footer-right .footer-items .nav-link {
  font-weight: 400;
  text-transform: uppercase;
}

.nav-footer-left .footer-items .nav-item,
.nav-footer-center .footer-items .nav-item,
.nav-footer-right .footer-items .nav-item {
  margin-top: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.nav-footer-left {
  font-family: 'Montserrat';
}

.nav-footer-right {
  font-family: 'Montserrat';
}


/*-- DataScienceBites --*/

.dsb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}